ruff
isort
loguru
pip
python-dotenv
tqdm
typer
nbconvert
scikit-learn
nbqa
seaborn
mypy
pytest
ipywidgets
huggingface_hub
transformers
accelerate
evaluate
datasets
peft
nvidia-ml-py3
ipdb
minio
lime
shap
-e .
